
h1 {

color:#fff6d8;
text-align:center;
font-family:Helvetica;
font-size: 150;

}

h2{    

    color:#ffffff;
    text-align:center;
    font-family: sans-serif;

}

#pp {


    color: #ffffff;
    font-size: 17;
    font-family: sans-serif;
    
    
    
    }

    #luca{

      color: #ffffff;
      font-size: 12;
      font-family: sans-serif;
  
  
  }






